@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body{
    font-family: 'Ranchers', cursive;
    background-color: #C95EFF;
}

#spielContent{
    display: flex;
    justify-content: center;
}

#beschreibeSpiel{
    text-align: center;
    width: 100%;
}

#startbutton{
    position: absolute;
    border: 5px groove black;
    border-radius: 20px;
    height: 4rem;
    left: 45%;
    top: 70%;
}

#startbildContainer{
    text-align: center;
    
}

#startbild{
    margin-top: 3rem;
    max-width: 100%;
    width: 60rem;
    height: 35rem;
}

#neustart{
    margin-left: 45%;
}